@import "home.scss";
@import "carousel.scss";
@import "intro.scss";
@import "resume.scss";
@import "saison.scss";
@import "gameplay.scss";

body {
    background-color: $rb1;
    color: $alice;
    font-family: 'Inter' ,Arial, Helvetica, sans-serif;
    font-weight: 200;
    background-image: url("../../images/fog.svg");
    background-repeat: no-repeat;
    background-position: top;
}