.gameplay {
        
    .container {
        max-width: $containerDesktop;
        padding: 10px;
        margin: auto;
    }

    h3 {
        margin: 0 0 5px;
    }

    p {
        color: $cadet;
        margin: 5px 0 20px;
    }

    .img-area {
        max-width: 100%;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    .img-responsive {
        div .img-area:first-child, div:first-child > .img-area:nth-child(2) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: $containerDesktop) {

        .img-responsive {

            div .img-area:first-child, div:first-child > .img-area:nth-child(2) {
                margin-bottom: 0;
            }

            div {
                display: flex;
        
                div:first-child {
                    margin-right: 10px;
                }
            }

            & > div:first-child {
                margin-bottom: 10px;
            }
        }
    }
}


