.gameplay {
        
    .container {
        max-width: $containerDesktop;
        padding: 10px;
        margin: auto;
    }

    h3 {
        margin: 0 0 5px;
    }

    p {
        color: $cadet;
        margin: 5px 0 20px;
    }

    .img-area {
        max-width: 100%;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    @media screen and (min-width: $containerDesktop) {

        .img-responsive {

            div {
                display: flex;
        
                div:nth-child(1) {
                    margin-right: 3px;
                }
            }

            & > div:nth-child(1) {
                margin-bottom: 3px;
            }
        }
    }
}


