@import "var.scss";

.intro {
    text-align: center;
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 3px $shadow;
    background: url(../image/background-top.png) no-repeat center bottom;
    background-size: cover;
    padding-bottom: 70px;
    max-width: 1920px;
    margin: auto;
    margin-top: -58px;

    .container {
        max-width: $containerDesktop;
        margin: auto;
        padding: 0px 10px; 

    h1 {
        margin: 10px 0;
        padding: 70px 0 0;
        font-size: 32px;
        font-weight: 200;
    }

    img {
        height: 170px;
    }

    h2 {
        font-weight: 200;
        color: $french;
        margin: 0 0 10px;
    }
}
}