.resume {
    max-width: $containerDesktop;
    margin: auto;
    padding: 0 10px;

    h3 {
        margin: 25px 0 10px;
    }

    :nth-child(2) {
        height: 200px;
        background-color: $prussian;
        border-radius: 10px;
    }
}