$rb1:        #010E16;
$rb2:        #021622;
$orb2:       #021622a6;
$rb3:        #02111c;
$orb3:       #02111ca6;
$prussian:   #012C4B;
$yin:        #005395;
$tyrian:     #5D0247;
$plum:       #8A3D7B;
$fandago:    #C711A4;
$alice:      #EBF2FA;
$french:     #C8D0DA;
$cadet:      #989DA4;
$grey:       #787E84;
$shadow:     #0000007b;

$containerMobile: 720px;
$containerTablet:  900px;
$containerDesktop:  1040px;